# deps
node_modules/
**/node_modules/

# next
.next/
out/

# env
.env
.env.local
**/.env
**/.env.local

# logs
npm-debug.log*
*.log

# os / editor
.DS_Store
.idea/
*.iml

# test / build
coverage/
dist/
build/
